#attribution-text {
    color: white;
    font-size: 34px;
    text-align: center;
    margin-top: 20px;
}

#attribution-container {
    background: black;
}

#creator-text {
    color: white;
    font-size: 30px;
    text-align: center;
    margin-top: 5px;
}

#main-container {
    font-family: TradeGothicBold;
}

#story-title {
    text-align: center;
    font-size: 30px;
    margin-top: 5px;
    margin-bottom: 5px;
}

#story-description {
    text-align: center;
    font-size: 24px;
    margin-top: 5px;
    margin-bottom: 5px;
}

.top_margin {
    margin-top: 5px;
}

.left_padding {
    padding-left: 0;
}

#error {
    text-align: center;
    font-size: 40px;
    color: red;
}

#link {
    color: red;
}