{% load static %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
        <link rel="stylesheet" href="{% static "css/main.css" %}">
        <title>Marvel</title>
    </head>
    <body>
        <div class="container" id="main-container">
            <div class="row" id="attribution-container">
                <div class="col-xs-4 left_padding">
                    <img src="{% static "img/marvel.png" %}">
                </div>
                <div class="col-xs-8">
                    <div id="attribution-text">{{ attribution_text }}</div>
                    <div id="creator-text">
                        Test project by
                        <a href="https://bitbucket.org/Georgiy_Pilipenko/marvel/src" id="link">
                        Heorhii Pylypenko
                        </a>
                    </div>
                </div>
            </div>
            {% if not error %}
                <div class="row align-middle">
                    <div class="col-xs-3"></div>
                    <div class="col-xs-6">
                        <div id="story-title">{{ title }}</div>
                        {% if description %}
                            <div id="story-description">{{ description }}</div>
                        {% endif %}
                    </div>
                    <div class="col-xs-3"></div>
                </div>
                {% for character in characters %}
                    <div class="row top_margin">
                        <div class="col-xs-2"></div>
                        <div class="col-xs-5">
                            <img src="{{ character.image }}">
                        </div>
                        <div class="col-xs-3">
                            <h3>{{ character.name }}</h3>
                        </div>
                        <div class="col-xs-2"></div>
                    </div>
                {% endfor %}
                <div class="row top_margin"></div>
            {% else %}
                <div class="row">
                    <div class="col-xs-12">
                        <div id="error">
                            Service unavailable <br>
                            Make sure you have an internet connection <br>
                            Make sure you've correctly set up a project <br>
                        </div>
                    </div>
                </div>
            {% endif %}
        </div>
    </body>
</html>